@model SubcategoryVM

<form method="post" asp-action="Edit">
    <input asp-for="SubcategoryDTO.Id" hidden />
    <input asp-for="CategoryList" hidden />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Edit Subcategory</h2>
            <hr />
        </div>
        <div asp-validation-summary="ModelOnly"></div>
        <div class="mb-3">
            <label asp-for="SubcategoryDTO.Name"></label>
            <input asp-for="SubcategoryDTO.Name" class="form-control" />
            <span asp-validation-for="SubcategoryDTO.Name" class="text-danger"></span>
        </div>
        <div class="mb-3 col-6">
            <label asp-for="SubcategoryDTO.CategoryId"></label>
            <select asp-for="SubcategoryDTO.CategoryId" asp-items="@Model.CategoryList" class="form-select">
                <option disabled selected>--Select Category--</option>
            </select>
            <span asp-validation-for="SubcategoryDTO.CategoryId" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">Update</button>
        <a asp-controller="Subcategory" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Back to List
        </a>
    </div>
</form>


@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}